* {
  box-sizing: border-box;
}

body {
  margin: auto;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template: repeat(3, 1fr) / 1fr 1fr 1fr 2fr;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #FFFFFF;
  transition: all .5s ease-in-out; 
  padding: 3em;
}

.box:hover {
  cursor: pointer;
}

.box h2 {
  transition: all .5s ease-in-out; 
}

.box:hover h2 {
  transform: scale(1.3); 
}

.box .icon {
  transition: all .5s ease-in-out; 
}

.box:hover .icon {
  transform: scale(1.3);
}

.intro {
  grid-area: 1 / 1 / 2 / 3;
  background-color: rgb(0,29,87);
  padding: 0 0 0 2em;
  border: 1px solid #FFFFFF;
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/skyline.jpg);
  background-size: cover;
}

.dining {
  grid-area: 1 / 3 / 2 / 4;
  background-color: #F5B86D;
}

.dining:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/dining.jpg);
  background-size: cover;
}

.breweries {
  grid-area: 2 / 1 / 3 / 2;  
  background-color: #3F5C8B;
}

.breweries:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/breweries.jpg);
  background-size: cover;
}

.dispensaries {
  grid-area: 2 / 2 / 3 / 3;
  background-color: #B6D3F1;
}

.dispensaries:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/dispensaries.jpg);
  background-size: cover;
}

.adventure {
  grid-area: 2 / 3 / 3 / 4;
  background-color: rgb(0,29,87);
}

.adventure:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/adventure.jpg);
  background-size: cover;
}

.accomodation {
  grid-area: 3 / 1 / 4 / 2;
  background-color: #6EA5F5;
}

.accomodation:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/accomodation.jpeg);
  background-size: cover;
}

.day-trips {
  grid-area: 3 / 2 / 4 / 3;
  background-color: #F5B86D;
}

.day-trips:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/daytrips.jpg);
  background-size: cover;
}

.events {
  grid-area: 3 / 3 / 4 / 4;
  background-color: #3F5C8B;
}

.events:hover {
  background: 
    linear-gradient(
      rgba(0, 29, 87, .5),
      rgba(0, 29, 87, .5)),
    url(images/events.jpg);
  background-size: cover;
}

.image-container {
  grid-area: 1 / 4 / 5 / 6;
  display: flex;
  background: 
    linear-gradient(
      rgba(0, 29, 87, .2),
      rgba(0, 29, 87, .2)),
    url(images/unionstation.jpg);
  background-size: cover;
  border: 1px solid #FFFFFF;
  position: relative;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 4.5em;
  margin: -.1em;
  font-family: 'Knewave', cursive;
  letter-spacing: 4px;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 1em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  margin-top: 1em;
}

p {
  color: #FFFFFF;
  font-size: 1.2em;
  margin: 0 0 2em 0;
}

.icon {
  width: 60px;
}

.intro-button {
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #F5B86D;
  padding: 15px;
  transition: all .2s ease-in-out; 
  display: inline-flex;
  align-items: center;
  border-radius: 25px;
  margin-right: .75em;
  margin-bottom: 1em;
}

.intro-button:hover {
   transform: scale(1.1); 
   cursor: pointer;
}

.intro-img {
  width: 20px;
  padding-right: 2px;
}

.arrow-button {
  width: 40px;
  transition: all .2s ease-in-out; 
}

.arrow-button:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.right {
  position: absolute;
  top: 50%;
  right: 3%;
}

.left {
  position: absolute;
  top: 50%;
  left: 3%;
}

.circle {
  width: 10px;
  position: absolute;
  transition: all .2s ease-in-out; 
}

.circle:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.left-circle {
  top: 2%;
  right: 10%;
}

.center-circle {
  top: 2%;
  right: 7%;
}

.right-circle {
  top: 2%;
  right: 4%;
}

@media only screen and (max-width: 1150px) {
  body {
    grid-template: 1fr 1fr 1fr 1fr 1fr / 50% 50%;
  }

  .dining {
    grid-area: 4 / 1 / 5 / 2;
  }

  .adventure {
    grid-area: 4 / 2 / 5 / 3;
  }

  .events {
    grid-area: 5 / 1 / 6 / 3;
  }

  .image-container {
    grid-area: 1 / 4 / 5 / 6;
    display: flex;
    background-image: url(images/unionstation.jpg);
    background-size: cover;
    border: 1px solid #FFFFFF;
  }

  .circle, .arrow-button {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  body {
    grid-template: repeat(9, 1fr) / 100%;
  }

  .dispensaries {
    grid-area: 6 / 1 / 7 / 2;
  }

  .adventure {
    grid-area: 7 / 1 / 8 / 2;
  }

  .day-trips {
    grid-area: 8 / 1 / 9 / 2;
  }

  .events {
    grid-area: 5 / 1 / 6 / 2;
  }

  h1 {
    font-size: 3.5em;
  }
}