body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  font-family: sans-serif;
  width: 100%;
  margin: auto;
}

h1 {
  text-transform: uppercase;
  color: #FFFFFF;
}

h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: .65em;
  font-weight: 500;
  color: rgb(255, 255, 255);
}

p {
  color: #FFFFFF;
}

.intro {
  grid-column-start: 1;
  grid-column-end: span 2;
}

#profile {
  grid-column-start: 3;
}

#experience {
  grid-row-start: 2;
}

#education {
  grid-row: 2;
  grid-column: 2;
}

#blog {
  grid-row: 2;
  grid-column: 3;
}

#social {
  grid-row-start: 3;
}

#contact {
grid-row: 3;
grid-column: 2;
}

#portfolio {
grid-row: 3;
grid-column: 3;
}

svg {
  display: block;
  margin: auto;
  fill: rgb(255, 255, 255);
}

.dark {
  background-color: #5DA2D5;
}

.light {
  background-color: #90CCF4;
}

.yellow {
  background-color: #F3D250;
}

.coral {
  background-color: #F78888;
}

button {
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}